   
  <div class="centralize col-md-8 col-md-offset-2">


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "well well-lg", method: :put, multipart: true }, defaults: {input_html: {class: "form-control"}, wrapper_html: {class: "form-group"}} ) do |f| %>
      <%= devise_error_messages! %>

        <div class="page-header"><h2>Editar usuário</h2></div>

        <%= f.input :first_name, label: "Nome" %>
     
        <%= f.input :last_name, label: "Sobrenome" %>
     
        <%= f.input :profile_name, label: "Username" %>
      
        <%= f.input :bio, as: :text, label: "Bio", input_html: {rows: 10} %>
      
        <%= f.input :avatar, as: :file, label: "Avatar", input_html: {class: ""} %>

        <%= f.input :email, as: :email, label: "Email" %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Esperando confirmação do email: <%= resource.unconfirmed_email %></div>
        <% end %>

        <%= f.input :password, as: :password, input_html: {autocomplete: "off"}, label: "Senha" %>

        <%= f.input :password_confirmation, as: :password, input_html: {autocomplete: "off"}, label: "Confirmação da senha", hint: "Repita a senha." %>


        <%= f.input :current_password, as: :password, label: "Confirmar alterações", hint: "Para confirmar as alterações acima você precisa confirmar com sua senha." %>

        <%= f.submit "Atualizar" %>

    <% end %>



    <p><%= link_to "Excluir minha conta", registration_path(resource_name), class:"bg-danger", :data => { :confirm => "Você tem certeza?" }, :method => :delete %></p>


  </div>


  <%= render "posts/return_button" %>