

<div class="row">


	<%= simple_form_for(resource, :as => resource_name, html: {class: "well well-lg col-md-4 col-md-offset-4"}, :url => session_path(resource_name)) do |f| %>

		<h2>Entrar</h2>
	  
	  <div class="form-group">
	  	<%= f.input :email, input_html: {class: "form-control"} %>
	  </div>

	  <div class="form-group">
	  	<%= f.input :password, label: "Senha", input_html: {class: "form-control"} %>
	  </div>

	  <% if devise_mapping.rememberable? -%>
	    <div class="form-group">
	    	<%= f.input :remember_me, as: :boolean, label: false, inline_label: "Lembrar senha" %> 
	  	</div>
	  <% end -%>

	  <div><%= f.submit "Entrar", class: "btn btn-lg btn-success pull-right" %></div>
	<% end %>

	<div class="col-md-4 col-md-offset-4">
		<%= render "devise/shared/links" %>
	</div>

</div>