<%= simple_form_for(@post, html: {class:"form-horizontal"}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 well well-lg">

          <h2><%= @titulo %></h2>

          
          <div class="form-group">
            <%= f.input :title, label: "Título", input_html: {class:"form-control"}, hint: "Seja descritivo e interessante." %>
          </div>
    
          <div class="form-group">
            <%= f.input :content, label: false, as: :text, label: "Conteúdo",placeholder: "Escreva aqui o conteúdo do post...", input_html: {class:"form-control", rows:10} %>
          </div>

          <div class="form-group">
            <%= f.label :posted_date, "Data de postagem" %>
            <%= f.text_field :posted_date, 'data-behaviour' => 'datepicker', value: Time.now.strftime("%d/%m/%Y"), class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit "Criar post", class: "btn btn-success pull-right" %>
          </div>


        </div>
      </div>

  </div>

<% end %>
