	

		
<div class="painel">

</div>

		
<div class="row">	
	<div class="col-md-8 col-md-offset-2">

		<div class="painel-float">

			<div class="titulo">
				Cidade.vc
			</div>
			<div class="descricao">
				O blog do projeto que quer potencializar a interação das pessoas com/na a cidade
			</div>

			<% if user_signed_in? %>
				<div class="links-signed">
					<%= link_to "Criar novo post", new_post_path, class: "btn btn-primary" %>
					<%= link_to sair_path do %><div title="Sair" class="glyphicon glyphicon-log-out has-tooltip"></div><% end %>
					<%= link_to edit_user_registration_path do %><div title="Configurações" class="glyphicon glyphicon-cog has-tooltip"></div><% end %>
				</div>
			<% else %>
				<div class="links-unsigned">
					<%= link_to "Registrar", registrar_path %><%= link_to "Entrar", entrar_path %>
				</div>
			<% end %>

		</div>


		<div>
			<%= render 'all_posts' %>
		</div>
		
	</div>
</div>


