<div class="page-header">
  <h1>Posts</h1>
</div>

<%= link_to "Postar", new_post_path, class: "btn btn-primary" %>


<% @posts.each do |post|  %>
  <div class="posts">
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.user.first_name %></p>
    <p><%= post.content %></p>
    <div class="meta">
      <span class="admin">
        <%= time_ago_in_words(post.created_at) %> | 
        <%= link_to "Editar", edit_post_path(post) %> | 
        <%= link_to "Excluir", post, :method => :delete, data: { confirm: "Você tem certeza que deseja excluir #{post.title}?"} %>
      </span>
    </div>
  </div>
<% end %>