<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand">
				Blog
			</a>
		</div>
	</div>
</nav>

<div class="container">
	<di class="cointainer-body">

		<% unless notice.blank? %>
			<p class="alert alert-info"><%= notice %></p>
		<% end %>

		<% unless alert.blank? %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>

		<%= yield %>
	</di>
</div>

</body>
</html>
